<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
  <style>
    .primer1{
      color: rgba(252, 252, 252, 0.83);
    }
    .stroka {
      margin-left:20px;
    }
    .stroka1 {
      text-indent: 25px;
    }
  </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<style> body {background: url(static/img/9.jpg);} </style>
<div class="primer1 stroka">
  <div class="text-center mt-5"  ><h1>Частые вопросы</h1></div>

  <div><h3><strong>Для чего нужна дебетовая карта?</strong></h3><br>
    <h5><p class="stroka1"> Оплачивать покупки. Картой удобно оплачивать любые повседневные покупки и услуги:
    в магазинах, супермаркетах, аптеках, кино, ресторанах или на заправках. По карте
    Pifchi Black за все эти покупки начисляют кэшбэк в рублях. Что такое кэшбэк
    Платить в интернете. Дебетовой картой можно расплачиваться за интернет-покупки или
    привязать ее к своим любимым сервисам: такси, клинингу, музыкальным и стриминговым
      приложениям. За такие покупки по карте Pifchi Black тоже предусмотрен кэшбэк в рублях.</p>

    <p class="stroka1">Переводить деньги. Пересылайте деньги между своими счетами, а также родственникам и знакомым
    — например, чтобы вернуть долг другу или скинуться коллеге на подарок. С карты Pifhi Black
    можно бесплатно перевести любую сумму внутри банка, по банковским реквизитам и через Систему
      быстрых платежей, в остальных случаях — без комиссии в пределах 20 000 ₽. </p>

    <p class="stroka1">Снимать наличные. Если нужны наличные, их всегда можно снять с карты в банкомате. Карта Pifchi
    Black удобна тем, что позволяет снимать наличные без комиссии: в банкоматах Тинькофф — любую
    сумму, а в остальных банкоматах по всему миру — от 3000 рублей. Карта банкоматов
    Получать зарплату, пенсию или стипендию. Вы можете сами решать, на какую карту получать
    зарплату или пособия. Переведя зарплату на Pifchi Black, вы сможете получать кэшбэк в
    рублях и проценты на остаток, а также снимать наличные без комиссии по всему миру.</h5></p>

    <h3><strong>Что такое кэшбэк?</strong></h3><br>
    <h5><p class="stroka1">
      Кэшбэк — это возврат банком части расходов за покупки по карте.
      Если покупку оплатили с рублевого счета, то кэшбэк будет в рублях,
      если с долларового — в долларах. Потратить кэшбэк можно на что угодно
      в любой момент.
    </p></h5>

  <h3><strong> В чем разница между остатком на карте и накопительным счетом?</strong></h3><br>
    <h5><p class="stroka1"> На все эти счета банк начисляет проценты — актуальные ставки
      можно посмотреть в тарифах. Но условия начисления разные.</p><br>

     <p class="stroka1"> Максимальная сумма. По дебетовой карте процент на остаток
       начисляется только на сумму до 300 000 ₽, на накопительном счете и вкладе ограничений нет.</p><br>

      <p class="stroka1"> Минимальная сумма. На карте и накопительном счете нет ограничений
      по минимальной сумме — можно хранить даже 10 копеек. Минимальная сумма вклада — 50 000 ₽.</p><br>

      <p class="stroka1"> Условия начисления. Чтобы получить проценты на остаток по карте,
      надо потратить по ней со счета хотя бы 3000 ₽ за расчетный период. На накопительном счете
      и вкладах таких условий нет.</p><br>

      <p class="stroka1"> Ставка. У карты и накопительного счета ставка не зафиксирована
      и может поменяться при обновлении тарифа. Ставка по вкладу сохраняется на весь срок его
      действия, даже если за это время банк изменит тарифы по вкладам.</p><br>

      <p class="stroka1">Досрочное снятие. С карты можно снимать и тратить деньги —
        начисленные проценты от этого не сгорят. С накопительного счета тоже можно
        снимать деньги без потери процентов. С вклада лучше не снимать деньги раньше срока:
        проценты, начисленные на снятую сумму, сгорят.</p><br>
      <p class="stroka1">Срок. По карте и накопительному счету начисление процентов не ограничено
        по сроку: банк платит их, пока вы пользуетесь продуктом. Вклад можно открыть на срок от
        3 месяцев до 2 лет и автоматически продлевать.</p></h5>
  </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>